/* Base styles */
* {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 2px;
  margin: 2px;
}

h1 {
  font-size: 175%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

#section1 {background-color: gray; color: black}
#section2 {background-color: gray; color: black}
#section3 {background-color: gray; color: black}

.section_title {
  font-size: 125%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#section_title1 {background-color: black; color: yellow;}
#section_title2 {background-color: gray; color: orange;}
#section_title3 {background-color: white; color: red;}

p {
  margin-left: auto;
  margin-right: auto;
  width: auto;
}


/* Responsive framework */
.row {
  width: 100%;
}
/* Desktop: 3 cols on one row*/
@media (min-width: 992px) {
  #section1 {
    width: 33%;
    height: auto;
  }
  #section2 {
    width: 33%;
    height: auto;
  }
  #section3 {
    width: 33%;
    height: auto;
  }

}


/* Tablet: 2 cols on first row, 1 col taking whole second row*/
@media (min-width: 768px) and (max-width: 991px) {
  #section1 {
    width: 50%;
    height: auto;
  }
  #section2 {
    width: 50%;
    height: auto;
  }
  #section3 {
    width: 100%;
    height: auto;
  }

}


/* Smartphone: 1 col per row, taking whole row */
@media (max-width: 767px) {
  #section1 {
    width: 100%;
    height: auto;
  }
  #section2 {
    width: 100%;
    height: auto;
  }
  #section3 {
    width: 100%;
    height: auto;
  }

}
